#blogs-div{
  grid-area: blogs;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog-card{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background: lavenderblush;
  margin: 5px;
}

.blog-title {
  font-weight: bold;
  font-size: 150%;
}