#events-div{
  grid-area: events;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.event-card {
  border: 1px solid black;
  background: lightgray;
  height: 100px;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  transition: .15s box-shadow;

  .event-big-date {
    height: 80px;
    background: grey;
    width: 80px;
    padding: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 150%;

    .div {
      text-align: center;
      vertical-align: middle;
    }
  }

  .event-details {
    text-align: left;

    .event-title {
      font-weight: bold;
    }

    .event-full-date {
      font-style: italic;
    }
  }


}

.event-card:hover {
  box-shadow: 0 0 5px 5px darkslategray;
}