#school-page {
  display: grid;
  grid-template-columns: auto 0fr;
  grid-template-rows: 0fr auto 0fr;
  grid-template-areas: 
  "header header"
  "conntent sidebar"
  "footer footer";
}

div{
  border: 1px solid red;
}

#header {
  grid-area: header;
  text-align: center;

  .chunk {
    display:inline-block;
  }
}

#sidebar {
  grid-area: sidebar;

  #nav-contact{
    display: none;
  }
}

#footer {
  grid-area: footer;
}


/* ad styling */
.chunk {
  background: lightblue;
}

.panel-chunk {
  width: 300px;
  height: 250px;
}

.banner-chunk {
  width: 728px;
  height: 90px;

}